<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- Actions section -->
    <category label="31000" id="actions_section">
        <setting type="sep"/>
        <setting label="31001" type="lsep"/>
        <setting type="sep"/>

        <setting label="31002" id="deleting_enabled" type="bool" default="false" visible="true"/>
        <setting label="31008" id="clean_xbmc_library" type="bool" default="true" subsetting="true" visible="eq(-1,true)"/>

        <setting label="31009" id="delete_movies" type="bool" default="false" visible="true"/>
        <setting label="31010" id="delete_tv_shows" type="bool" default="false" visible="true"/>
        <setting label="31011" id="delete_music_videos" type="bool" default="false" visible="true"/>

        <setting label="31013" id="delete_folders" type="bool" default="false" subsetting="true" visible="true"/>
        <setting label="31014" id="ignore_extensions" type="text" default=".nfo, .tbn, .srt, .ass" subsetting="true" visible="eq(-1,true)"/>

        <setting label="33011" id="holding_enabled" type="bool" default="false" visible="true"/>
        <setting label="33012" id="holding_folder" type="folder" default="special://temp" option="writeable" subsetting="true" visible="eq(-1,true)"/>
        <setting label="33013" id="create_subdirs" type="bool" default="false" subsetting="true" visible="eq(-2,true)"/>
        <setting label="33014" id="holding_info" type="lsep" subsetting="true" visible="eq(-3,true)"/>
    </category>

    <!-- Timing section -->
    <category label="32000" id="timing_section">
        <setting type="sep"/>
        <setting label="32001" type="lsep"/>
        <setting type="sep"/>

        <setting label="31003" id="delayed_start" type="slider" default="0" range="0,10,120" option="int" visible="true"/>
        <setting label="31004" id="scan_interval" type="slider" default="30" range="5,5,120" option="int" visible="true"/>

        <setting label="31012" id="delete_when_idle" type="bool" default="false" visible="true"/>
    </category>

    <!-- Conditions section -->
    <category label="33000" id="conditions_section">
        <setting type="sep"/>
        <setting label="33001" type="lsep"/>
        <setting type="sep"/>

        <setting label="33002" id="enable_expiration" type="bool" default="false" visible="true"/>
        <setting label="33003" id="expire_after" type="slider" default="7" option="int" range="1,1,30" subsetting="true" visible="eq(-1,true)"/>

        <setting label="33004" id="delete_when_low_rated" type="bool" default="false" visible="true"/>
        <setting label="33007" id="musicvideo_ratings_info" type="lsep" subsetting="true" visible="eq(-1,true)"/>
        <setting label="33005" id="minimum_rating" type="slider" default="6" option="int" range="1,1,10" subsetting="true" visible="eq(-2,true)"/>
        <setting label="33006" id="ignore_no_rating" type="bool" default="true" subsetting="true" visible="eq(-3,true)"/>

        <setting label="33008" id="delete_when_low_disk_space" type="bool" default="false" visible="true"/>
        <setting label="33009" id="disk_space_threshold" type="slider" default="0" range="5,5,80" subsetting="true" visible="eq(-1,true)"/>
        <setting label="33010" id="disk_space_check_path" type="folder" default="special://home" subsetting="true" visible="eq(-2,true)"/>

        <setting label="33015" id="not_in_progress" type="bool" default="true" visible="true"/>
        <setting label="33016" id="musicvideo_progress_info" type="lsep" subsetting="true" visible="eq(-1,true)"/>
    </category>

    <!-- Notifications section -->
    <category label="34000" id="notifications_section">
        <setting type="sep"/>
        <setting label="34001" type="lsep"/>
        <setting type="sep"/>

        <setting label="31005" id="notifications_enabled" type="bool" default="true" visible="true"/>
        <setting label="31006" id="notify_when_idle" type="bool" default="true" subsetting="true" visible="eq(-1,true)"/>

        <setting label="31007" id="debugging_enabled" type="bool" default="false" visible="true"/>
    </category>
</settings>
